.flex {
    display: flex;
}

.flex-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.player-card {
    border-color: #000000;
    border-width: 0.01rem;
    border-style: solid;
    text-align: center;
    row-gap: 0.5rem;
    min-width: 180px;
    padding: 0;
}

.player-input-line {
    flex: 7;
}

.player-submit-button {
    margin-left: 0.25rem;
}

.big-text {
    font-size: xx-large;
}

.chip-count-config {
    padding: 0.5rem;
}

body {
    margin: 0.75rem;
}

.padded {
    padding: 1rem;
}