.grow {
    display: flex;
    flex: 1;
}

.flex-container {
    margin: 0.25rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.player-card {
    border-color: #000000;
    border-width: 0.01rem;
    border-style: solid;
    padding: 1rem;
    text-align: center;
    row-gap: 0.5rem;
    min-width: 180px;
}